.background-bottom, .background-side
{
  width:90%;
  height: 700px;
  margin:40px;
  position: relative;
}
.background-bottom
{
    background:#FFF;
}
.background-bottom:before, .background-bottom:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
    background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.background-bottom:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}



.background-side:before, .background-side:after
{
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 50px;
  width: 50%;
  top: 0px;
  max-width:450px;
    background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: -10px 15px 40px #777;

}
.background-side:after
{
    right:70px;
    left:auto;
    box-shadow: 10px 15px 40px #777;
}



.task-header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.icon-pointer{
  cursor: pointer;
}

.task-cards-list {

  overflow: hidden;
/*  width: 900px;
*/  height: 700px;
  padding: 40px 0px;
  margin-top:50px;
  text-align:center;
  perspective: 900px;
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.task-card{
  position:absolute;
}
.card{
  height:550px;
  width:300px;
  border:1px solid #666;
  padding:25px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.card-body{
  border: 1px solid #fd7e14;
  padding:5px;
  height:500px;
  width:280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
form.card{
  z-index:1;
}
.task-cards-list .card{
  /*transform: rotateY(0deg);*/
  transition: all 0.5s ease-in-out;
  z-index:0;
}
.task-cards-list .card:hover {
  transform: scale(1.1) /*rotateY(2deg)*/;
}

.card-img img{
  border-radius: 5px;
  width: 100%;
  max-height: 200px; 
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.card-text{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align:left; 
}
.card-footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}


.text-edit, .card-img {
  text-align: left;
  display: inline-block;
  position: relative;
}
.edit {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
  text-decoration: none;
  width: 30px;
  cursor:pointer;
}
.text-edit:hover .edit, .card-img:hover .edit {
  opacity: 1;
}



.showList-enter-active { 
 animation: cards-show 0.5s; 
}
.showList-leave-active { 
 animation: cards-show 0.5s reverse; 
}
@keyframes cards-show  {

}
  
.addcard-enter-active { 
 animation: card-move 0.5s; 
}
.addcard-leave-active { 
 animation: card-move 0.5s reverse; 
}
@keyframes card-move  {
  0% {
  transform: rotateY(30deg);
  transition: all 0.5s ease-in-out;
  z-index:5;

  }
/*  50% { 
    transform: scale(1.5)
  }
*/  100%{
    transform: rotateY(0deg);

  }  
}
.deletecard-leave-active { 
  animation: card-delete 0.5s ; 
} 
@keyframes card-delete  {
  0% {  
  transition: all 0.5s ease-in-out;
  transform: rotateY(30deg);
  transform: translateY(0px);
  z-index:100;

  }
/*  50% { 
    transform: scale(1.5)
  }
*/  100%{
    transform: rotateY(0deg);
    transform: translateY(-1000px);
    z-index:100;

  }  
}
.makecard-leave-active { 
  animation: card-done 0.5s ; 
} 
@keyframes card-done  {
  0% {  
  transition: all 0.5s ease-in-out;
  }
  100%{
  transform: rotateY(0deg);
  opacity:0; 
  transform: scale(1.4);
  }  
}

